body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

.avatar {
    width: 170px;
    border: 2px solid white;
    transform: scaleX(-1);
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #1b263b;
    color: #f3eaf4;
    border-bottom: 10px ridge #778da9;
    border-left: 5px ridge #778da9;
    border-right: 5px ridge #778da9;
    border-top: 5px ridge #778da9;
    border-radius: 3px;
    text-shadow: 2px 2px 778da9;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

a {
   color: aqua;
   transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    box-shadow: inset 110px 0 0 0 #415a77;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
